@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  color: rgb(255, 53, 53);
  text-align: center;
  padding: 20px;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(255, 53, 53);
  text-align: center;
  padding: 20px;
}

.track {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: center;
}

.light-up {
  background-color: yellow; /* Adjust the color as needed */
}

.light-down {
  background-color: rgb(177, 177, 171); /* Adjust the color as needed */
}



.track > :nth-child(4n + 1) {
  margin-right: 8px;
}



.cell {
  width: 25px;
  height: 25px;
  text-align: center;
  border: 1px solid black;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.app-content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container button,
.icon-button {
  margin: 5px;
  justify-content: center;
}

.slider-container {
  width: 66%;
  justify-content: center;
  padding: 20px;
}

.synth-box {
  width: 50vw;
  height: 30vw;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  color: #fff;
  font-size: 18px;
}

#select-synth {
  margin: 5px;
  justify-content: center;
}

#synthSelect {
  margin: 5px;
  justify-content: center;
}

.synth-box:active {
  background-color: #e65c00;
}


$brick-peg-size: 15px;
$brick-wall-thickness: 6px;
$brick-square:  $brick-peg-size + $brick-wall-thickness * 2;

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-pack: end;
 
  filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6)) drop-shadow(0 0 6px rgba(0,0,0,0.5));
}
.border {
  display: flex;
  flex-wrap: wrap;
  width: calc(12 * #{$brick-square} + 2 * #{$brick-wall-thickness});
  height: calc(12 * #{$brick-square} + 2 * #{$brick-wall-thickness});
  background-color: transparent; /* Adjust this to your background color */
  border: 1px solid #f63; /* Border color matches brick color */
}

.brick {
  color: #f63;
  background-color: currentColor;
  padding: $brick-wall-thickness;
  min-width: $brick-square;
  min-height: $brick-square;
  box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 rgba(#fff, .2);
  background-image: radial-gradient(currentColor $brick-peg-size/2, transparent $brick-peg-size/2 + 1px),
                      radial-gradient(rgba(#fff, .6) $brick-peg-size/2, transparent $brick-peg-size/2 + 1px),
                    radial-gradient(rgba(#000, .2) $brick-peg-size/2, transparent $brick-peg-size/2 + $brick-wall-thickness/2),
                  radial-gradient(rgba(#000, .2) $brick-peg-size/2, transparent $brick-peg-size/2 + $brick-wall-thickness/2);
  background-size: $brick-square $brick-square;
  background-position: 0px 0px, -.5px -.5px, 0px 0px, $brick-wall-thickness/2 $brick-wall-thickness/2;
  background-repeat: repeat;
}

$brick-colors: (
    'red':  #e53935,
'pink':  #d81b60,
'purple':  #8e24aa,
'deep-purple':  #5e35b1,
'indigo':  #3949ab,
'blue':  #1e88e5,
'light-blue':  #039be5,
'cyan':  #00acc1,
'teal':  #00897b,
'green':  #43a047,
'light-green':  #7cb342,
'lime':  #c0ca33,
'yellow':  #fdd835,
'amber':  #ffb300,
'orange':  #fb8c00,
'deep-orange':  #f4511e,
'brown':  #6d4c41,
'grey':  #757575,
'blue-grey':  #546e7a
);

@each $name, $color in $brick-colors {
    .b-#{$name} {
        color: $color;
    }
}

@for $x from 1 through 12 {
    @for $y from 1 through 12 {
        .b-#{$x}x#{$y} {
            width: $brick-peg-size * $x + (($brick-wall-thickness*2) * $x);
            height: $brick-peg-size * $y + (($brick-wall-thickness*2) * $y);
        }
    }
}

// LASERS -------------------------------------------

.stage {
  z-index: -1;
  position: absolute;
  top: -200px;
  right: -200px;
  bottom: -200px;
  left: -200px;
  overflow: hidden;
  background-color: black;
  filter: blur(3.2px) brightness(1.4) contrast(15);
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black, 0 0 70px black, 0 0 100px black, 0 0 140px black, 0 0 180px black, 0 0 230px black;
    transform: translateX(-50%) translateY(-50%);
  }
}
.diamond-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 0;
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgb(69, 192, 255), 0 0 5px rgb(69, 192, 255);
    animation-name: glow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  &::after {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
  }
	div {
		position: absolute;
    left: 50%;
    top: 50%;
		width: 1000px;
		height: 500px;
    border: 6px solid #fff;
    transform: translateX(-50%) translateY(-50%) rotate(90deg) skew(75deg);
		animation-duration: 20s;
		animation-name: move;
		animation-timing-function: cubic-bezier(0.06,0.22,0.19,0.99);
		animation-iteration-count: infinite;
		box-shadow: 0 0 5px rgb(69, 192, 255), 0 0 15px rgb(69, 192, 255);
		opacity: 0;
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				animation-delay: #{$i*2}s;
			}
		}
	}
}
@keyframes move{
	0% {
		width: 1000px;
		height: 1000px;
		opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(0deg) skew(70deg);
	}
	15% {
		opacity: 1;
   }
	40% {
		opacity: 1;
   }
	100% {
		width: 0;
		height: 0;
    border-width: 1px;
		opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(270deg) skew(10deg);
	}
}
@keyframes glow {
	0% {
		border-width: 1px;
	}
	100% {
		border-width: 5px;
	}
}

/////////////
@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200px); /* Adjust the distance to move */
  }
}

.animate {
  
  position: absolute;
  width: 80px;
  height: auto;
  animation: moveDown 1s, fadeOut 1s forwards;
  top: 0;
  left: 0;
}


@keyframes moveDown {
  0% {
    transform: translateY(0); /* Start with no vertical translation */
    opacity: 1; /* Fully visible */
  }
  100% {
    transform: translateY(100px); /* Move downward by 100px */
    opacity: 0; /* Fully transparent */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* Start with full visibility */
  }
  100% {
    opacity: 0; /* Fade out to fully transparent */
  }
}

.red {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Red color with transparency */
  pointer-events: none; /* Allow clicks to pass through to elements beneath the overlay */
}

.blue {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 0, 255, 0.5); /* Red color with transparency */
  pointer-events: none; /* Allow clicks to pass through to elements beneath the overlay */
}

.green {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 209, 97, 0.5); /* Red color with transparency */
  pointer-events: none; /* Allow clicks to pass through to elements beneath the overlay */
}

.yellow {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 238, 0, 0.5); /* Red color with transparency */
  pointer-events: none; /* Allow clicks to pass through to elements beneath the overlay */
}

.no-interaction {
  pointer-events: none;
  opacity: 0.3
}
