.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-pack: end;
  filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6)) drop-shadow(0 0 6px rgba(0,0,0,0.5));
}



.button-container button,
.icon-button {
  margin: 5px;
  justify-content: center;
}

html, 
body {
  font-family: 'F3';
}

h1 {
  font-weight: bold;
  font-size: 7rem;
  font-family: 'F3';
  color: rgb(255, 0, 0);
  text-align: center;
  padding-top: 200px;
  text-shadow: 2px 2px 5px #fdd835;
  margin: 0 auto;
}

@font-face {
  font-family: 'F3';
  src: url('/fonts/F3.ttf') format('truetype');
}

h2 {
  font-weight: bold;
  font-size: 4.5rem;
  font-family: 'F13';
  color: rgb(0, 127, 255);
  text-align: center;
  padding: 20px;
  text-shadow: 5px 5px 10px #fdd835;
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'F3';
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 20px;
}

@font-face {
  font-family: 'F13';
  src: url('/fonts/F13.ttf') format('truetype');
}

.cell {
  width: 100px;
  height: 60px;
  text-align: center;
  border: 0.5px ;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically (optional) */
  height: 100vh; /* Adjust the height as needed */
  
}

.header-text {
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Align text within the box */
}

.inner-thing-box {
  background: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); 
  padding: 30px;
  margin: 10px auto; /* Updated margin to center horizontally */
}


.page{
  background-image: url("../../public/images/whiteblocks.jpg");
}

.slider-container {
  width: 66%;
  justify-content: center;
  padding: 20px;
}

.thing-box{
  background: white;
  padding: 30px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); 
  margin: 10px;
}

.track {
  // width: 70vw;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: center;
}



